.pagecontainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
  }

body {
  background-color: #f3ece9;
  color: #574727;
}
header >h1{
    text-align: center;
    font-size: 75px;
  }

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: #f3ece9;
  }

.image-container {
  display: flex;
}

#imageoftheweek img {
  float: left;
  margin-right: 20px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

